@import 'https://code.highcharts.com/css/highcharts.css';

.chart-area {
  width: 100%;
}

.highcharts-xaxis {
  font-family:  Gotham, "Gotham", "Gotham A", "Gotham B", "游ゴシック", "Yu Gothic", sans-serif;
  fill: #7f8185;
  font-size: 12px;
  font-weight: bold;
}

.highcharts-yaxis {
  font-family:  Gotham, "Gotham", "Gotham A", "Gotham B", "游ゴシック", "Yu Gothic", sans-serif;
  fill: #7f8185;
  font-size: 12px;
  font-weight: bold;
}

.highcharts-column {
  fill: #b0b0b8;
  stroke: #b0b0b8;
}

.highcharts-color-0 {
  fill: #b0b0b8;
  stroke: #b0b0b8;
}

.highcharts-color-1 {
  fill: #ff888f;
  stroke: #ff888f;
}

.highcharts-line {
  fill: #9fa1a6;
  stroke: #9fa1a6;
  stroke-dasharray: 6;
}

.highcharts-title {
  font-family:  Gotham, "Gotham", "Gotham A", "Gotham B", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold
}

.highcharts-grid-line {
  line-height: 0.5px;
  stroke: #ebedf0;
}

.highcharts-legend-item > text {
  fill: #9fa1a6;
  stroke: #9fa1a6;
}

.highcharts-yaxis-line {
  width: 1px;
}